<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>ActiveRecord</title>
        <link rel="stylesheet" href="/style.css" />
	    <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono" rel="stylesheet" type="text/css" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
        <script type="text/javascript" src="/jquery-1.8.1.min.js"></script>
		<script type="text/javascript" src="/present.js"></script>

		<link rel="stylesheet" href="/highlight.js/styles/default.css">
		<script src="/highlight.js/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>

	</head>

	<body>

		{{ content }}

		<footer class="row-fluid page-footer">
			<address>
			  &copy; 2013 <strong class="name">Daniel Heath</strong> |
			  <a class="email" href="mailto:daniel@heath.cc">daniel@heath.cc</a> |
			  <a href="http://daniel.heath.cc/">daniel.heath.cc</a> |
			  <a href="https://github.com/DanielHeath">github.com/DanielHeath</a> |
			  <a href="https://twitter.com/DanielrHeath">@DanielRheath</a>
			</address>
		</footer>

	</body>

</html>

